body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.nebulaone {
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	float: left;
	height: 300px;
	width: 300px;
}

.nebulatwo {
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	float: right;
	height: 300px;
	width: 300px;
}