/*
body{
	background:url("../images/outerspace_landscape.jpeg") no-repeat center center fixed;

	}
*/

body{

background-image: url("../images/outerspace_landscape.jpeg");
background-size: cover;

}

nav{
	background-color: grey;
	text-align: left;
	padding-left: 60px;
	padding-right: 60px;
	height: 60px;
	width:100%;
	position: fixed;

}

li{
	display: inline-block;
}

.box{
	width: 600px;
	height: 300px;
	border: 10px green dotted;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top:200px;
}

.cat{

}

.dog{

}
